p a{
	color:inherit;
}
p a:hover{
	color:#008fb3;
	text-decoration:none;
}
div.hero-container{
	height:60vh;
	background-size:cover;
	padding-left:10%;
	padding-top:10vh;
	background-color:#414141;
}
@media(max-width:991px){
	div.hero-container{
		padding-left:18%;
	}
}
@media(min-width:991px){
	div.hero-container{
		height:62.7vh;
	}
}
@media(min-width:1200px){
	div.hero-container{
		height:56.3vh;
	}
}
div.sr-header{
	padding-top:9vh;
	padding-right:5%;
	padding-left:5%;
	background-color:#414141;
	color:white;
}
.sr-header h2{
	margin-left:10%;
	margin-bottom:7vh;
	margin-top:0px;
}
.sr-header p{
	margin-bottom:7vh;
}
.sr-header button{
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:7vh;
}
.sr-header button h2{
	text-align:center;
	margin:0px;
	font-size:30px;
}
@media (max-width:991px){
	div.sr-header{
		padding-top:5vh;
		padding-left:10%;
		padding-right:10%;
	}
	.sr-header h2{
		margin-bottom:4vh;
	}
	.sr-header p{
		margin-bottom:5v;
	}
	.col-md-6.hero-container{
		height:auto;
	}
	.sr-header button{
		margin-left:8%;
	}
}
h2 a{
	color:inherit;
}
h2 a:hover{
	text-decoration:none;
	color:inherit;
}
button.slick-prev:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button.slick-next:before{
	font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.multiple-items{
	padding-top:5vh;
	padding-bottom:5vh;
}
.multiple-items p{
	font-size:25px;
	color:#191919;
}
div.single-item{
	display:none;
	padding-top:8vh;
	padding-bottom:0vh;
	text-align:center;
}
.single-item p{
	margin-top:7vh;
	font-size:30px;
	color:#191919;
}
@media (max-width:768px){
	div.single-item{
		display:block;
	}
	.single-item div .rule-image{
		height:32vw;
		width:58vw;
	}
	.single-item div p{
		margin-bottom:7vh;
		margin-top:7vh;
	}
	div.multiple-items{
		display:none;
	}
}
.gallery-image{
	margin:0 auto;
}
@media(max-width:991px){	
	div.slick-container{
		padding-left:10%;
		padding-right:10%;
	}
}
.multiple-items p{
	text-align:center;
	margin-top:5vh;
}